---
import { TestimonialsCarousel } from "./react/TestimonialsCarousel.tsx";
---

<section data-animate="up" style="--reveal-delay: 70ms" class="pt-48 pb-24" aria-labelledby="testimonios">
  <TestimonialsCarousel client:load />
</section>
